body{
  text-align: center;
  margin:0;
font-size: 2em;
}
.top
{
  background-color: #E4F9F5;
  top: 0;
  padding-top: 100px;

}
.middle{
  background-color: lightgreen;
  width: 200px;
  height: 200px;
}
.bottom{
  background-color: yellow;
  width: 200px;
  height: 200px;
}
h1
{
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
 font-family: 'Sacramento', cursive;
}
h2
{
  color: #66bfbf;
  font-weight: normal;
  font-size: 2.652rem;
font-family: 'Allison', cursive;
}
h3
{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
}
.top-image
{
  background-color:  #E4F9F5;
}
.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.bottom-cloud-right
{
  position: absolute;
  right: 550px;
  bottom: 300px;
}
.top-cloud
{
  position:absolute;
right: 300px;
top: 50px;
}
.top-cloud-right
{
  position: absolute;
  left:200px;
  top:50px;
}
.my-image
{
height: 400px;
width: 300px;
margin-top: 80px;
}
.skillss
{
  width: 25%;
  float: left;
  margin-right:  30px;
  margin-bottom: 30px;
}
.foood
{
  width: 25%;
  float: right;
  margin-right:  30px;
  margin-bottom: 30px;
}
.skill-row
{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skills-desc
{
  clear: left;
}
.food-desc
{
  clear: right;
}
.intro{
  width:30%;
  margin: auto;
}
p{
  line-height: 2;
}
hr{
  border: dotted #575757 6px;
  margin: 100px auto;
  border-bottom: none;
  width: 4%;
}
.btn {
  background: #d9d134;
  background-image: -webkit-linear-gradient(top, #d9d134, #b8472b);
  background-image: -moz-linear-gradient(top, #d9d134, #b8472b);
  background-image: -ms-linear-gradient(top, #d9d134, #b8472b);
  background-image: -o-linear-gradient(top, #d9d134, #b8472b);
  background-image: linear-gradient(to bottom, #d9d134, #b8472b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #f7f7f7;
  font-size: 35px;
  padding: 14px 26px 16px 23px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container{
  padding: 80px;
}
a{
  text-decoration: none;
  padding: 10px 20px;
}
.copyright{
  font-size: 0.75rem;
}
#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #8DCCC8,  #70FFB3);
	color: #FFF;
	height: 47px;
	padding-left: 18px;
	border-radius: 17px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 47px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 21px;
	text-transform: capitalize;
}
#menu a.dropdown-arrow:after {
	content: "\2B9F";
	margin-left: 5px;
}
#menu li a:hover {
	color: #CC5C1B;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 47px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 47px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #CC3D3D;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #262412;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
